DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
ADMIN_API_BASE=https://staging.greyhourrp.xyz
PTERO_APP_BASE_URL=
PTERO_APP_KEY=
PTERO_SERVER_ID=
PTERO_SERVER_EXTERNAL_ID=
PTERO_TIMEOUT_MS=8000
PTERO_CLIENT_BASE_URL=
PTERO_CLIENT_KEY=
PTERO_CLIENT_SERVER_ID=
PTERO_WATCH_ENABLED=false
PTERO_WATCH_INTERVAL_MINUTES=5
PTERO_WATCH_CHANNEL_ID=
PTERO_WATCH_CPU_ALERT=90
PTERO_WATCH_MEMORY_ALERT=90
PTERO_WATCH_DISK_ALERT=90
PTERO_WATCH_COOLDOWN_MINUTES=30
PTERO_POWER_CONFIRM_WINDOW_MINUTES=5
PTERO_CONSOLE_DEFAULT_MINUTES=2
PTERO_CONSOLE_MAX_MINUTES=5
PTERO_CONSOLE_FLUSH_MS=2000
PTERO_CONSOLE_MAX_LINES=80
PTERO_CONSOLE_COOLDOWN_MINUTES=5
ADMIN_BASIC_AUTH_USER=
ADMIN_BASIC_AUTH_PASS=
ANNOUNCE_CHANNEL_ID=
STATUS_CHANNEL_ID=
LOG_CHANNEL_ID=
DOSSIER_REVIEW_CHANNEL_ID=
DOSSIER_REVIEW_ROLE_ID=
ARC_CHANNEL_ID=
EVENT_CHANNEL_ID=
ECONOMY_CHANNEL_ID=
DOSSIER_PUBLIC_CHANNEL_ID=
STAFF_CONTENT_DIGEST_CHANNEL_ID=
STAFF_CONTENT_DIGEST_TIME_UTC=17:30
MENTION_ALLOWED_CHANNEL_IDS=
HELPLINE_CONFIG_FILE=
FACTION_CHANNEL_FILE=
MUSIC_ALLOWED_TEXT_CHANNEL_IDS=
MUSIC_ALLOWED_VOICE_CHANNEL_IDS=
MUSIC_BOT_USER_IDS=
MUSIC_ENFORCEMENT_ENABLED=true
MUSIC_REQUIRE_APPROVED_CHANNELS=true
MUSIC_PASSIVE_QUERY_ENABLED=true
MUSIC_CHANNEL_CATEGORY_NAME=MUSIC
MUSIC_YTDLP_BIN=yt-dlp
MUSIC_YTDLP_FALLBACK_BINS=yt-dlp-nightly,python3 -m yt_dlp,python -m yt_dlp
MUSIC_FFMPEG_BIN=ffmpeg
MUSIC_FFMPEG_FALLBACK_BINS=ffmpeg,avconv
MUSIC_TOOL_AUTOHEAL_ENABLED=true
MUSIC_TOOL_HEALTH_INTERVAL_MINUTES=10
MUSIC_TOOL_PROBE_TIMEOUT_MS=10000
MUSIC_NOW_PLAYING_ENABLED=true
MUSIC_NOW_PLAYING_TTL_SECONDS=15
MUSIC_ENABLE_LOUDNORM=true
MUSIC_TARGET_LUFS=-14
QUIET_HOURS_ENABLED=true
QUIET_HOURS_START_UTC=
QUIET_HOURS_END_UTC=
DISCORD_OPS_REFRESH_MS=60000
AUTO_ARCS_MINUTES=30
AUTO_EVENTS_MINUTES=30
AUTO_ECONOMY_MINUTES=60
AUTO_DOSSIERS_MINUTES=30
REGISTER_SCOPE=guild
STAGING_MODE=true
DRY_RUN_MODE=true
