DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
ADMIN_API_BASE=https://greyhourrp.xyz
PTERO_APP_BASE_URL=
PTERO_APP_KEY=
PTERO_SERVER_ID=
PTERO_SERVER_EXTERNAL_ID=
PTERO_TIMEOUT_MS=8000
PTERO_CLIENT_BASE_URL=
PTERO_CLIENT_KEY=
PTERO_CLIENT_SERVER_ID=
PTERO_WATCH_ENABLED=false
PTERO_WATCH_INTERVAL_MINUTES=5
PTERO_WATCH_CHANNEL_ID=
PTERO_WATCH_CPU_ALERT=90
PTERO_WATCH_MEMORY_ALERT=90
PTERO_WATCH_DISK_ALERT=90
PTERO_WATCH_COOLDOWN_MINUTES=30
PTERO_POWER_CONFIRM_WINDOW_MINUTES=5
PTERO_CONSOLE_DEFAULT_MINUTES=2
PTERO_CONSOLE_MAX_MINUTES=5
PTERO_CONSOLE_FLUSH_MS=2000
PTERO_CONSOLE_MAX_LINES=80
PTERO_CONSOLE_COOLDOWN_MINUTES=5
ADMIN_BASIC_AUTH_USER=
ADMIN_BASIC_AUTH_PASS=
ANNOUNCE_CHANNEL_ID=
STATUS_CHANNEL_ID=
LOG_CHANNEL_ID=
DOSSIER_REVIEW_CHANNEL_ID=
DOSSIER_REVIEW_ROLE_ID=
ARC_CHANNEL_ID=
EVENT_CHANNEL_ID=
ECONOMY_CHANNEL_ID=
DOSSIER_PUBLIC_CHANNEL_ID=
STAFF_CONTENT_DIGEST_CHANNEL_ID=
STAFF_CONTENT_DIGEST_TIME_UTC=17:30
MENTION_ALLOWED_CHANNEL_IDS=
HELPLINE_CONFIG_FILE=
FACTION_CHANNEL_FILE=
QUIET_HOURS_ENABLED=true
QUIET_HOURS_START_UTC=
QUIET_HOURS_END_UTC=
DISCORD_OPS_REFRESH_MS=60000
AUTO_ARCS_MINUTES=30
AUTO_EVENTS_MINUTES=30
AUTO_ECONOMY_MINUTES=60
AUTO_DOSSIERS_MINUTES=30
REGISTER_SCOPE=guild
STAGING_MODE=false
DRY_RUN_MODE=false
