[Unit]
Description=Run GreyHourRP Secrets Rotation Monthly

[Timer]
OnCalendar=Mon *-*-01 03:35:00
Persistent=true
RandomizedDelaySec=20m
Unit=greyhourrp-rotate-secrets.service

[Install]
WantedBy=timers.target
